/* Variables de color y fuentes en root */
:root {
    --primary-color: #EC8305;
    --secondary-color: #178D51;
    --background-color: #F9F6E7;
    --text-color: #333333;
    --font-title: 'Libre Baskerville', serif;
    --font-body: 'M PLUS Rounded 1c', sans-serif;
}

/* Configuración básica */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.6rem;
}

h3 {
    font-family: var(--font-title);
}

/* Estilo de la tarjeta */
.card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

.card-header {
    background-color: var(--primary-color);
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-body {
    background-color: white;
    padding: 2rem;
}

.card-footer {
    background-color: #f1f1f1;
    padding: 2rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.btn-primary {
    background-color: var(--secondary-color);
    border: none;
    padding: 1rem;
    font-size: 2rem;
}

.btn-primary:hover {
    background-color: #145E3D;
}

.form-control {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 1.5rem;
    font-size: 1.6rem; /* Tamaño de fuente aumentado */
    height: 4rem; /* Altura incrementada para hacer los campos más grandes */
}

/* Texto alternativo para el botón */
.btn-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--secondary-color);
}

.btn-link:hover {
    text-decoration: underline;
}


/* Ajustes de espaciado en dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 2rem;
    }
}
